@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --input-background:73 39% 83%;
    --input-foreground:0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 147 61% 21%;
    --primary-foreground: 150 100% 99%;

    --secondary: 87 58% 40%;
    --secondary-foreground: 0 0% 100%;

    --highlight: 223 88% 48% ;
     --highlight-foreground: 0 0% 100%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --success:134 62% 43%;
    --success-foreground: 0 0% 100%;

    --warning:40 94% 55%;
    --warning-foreground: 0 0% 18%;

    --disable:0 0% 84%;
    --disable-foreground: 0 2% 12%;


    --accent: 49 85% 54%;
    --accent-foreground: 49 73% 7%;

    --error: 0 94% 51%;
    --error-foreground:0 0% 100%;

    --destructive: 0 94% 51%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --border-card: 223 88% 48%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
    --radius-primary: .4rem;

    --font-primary: 'Titillium Web', sans-serif;
    --font-secondary: 'Siyamrupali', sans-serif;
  }
    .custom-rounded {
      border-top-right-radius: 80px;
      border-bottom-right-radius: 80px;
    }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html,
  body,
  #root,
  #app {
    @apply h-full;
  }
  body {
    @apply bg-background text-foreground;
  }
}
